<div class="elements-container" ng-if="vm.giftVisible.length === 0">
	<h3>No gifts for this category</h3>
</div>

<div class="elements-container" ng-repeat="gift in vm.giftVisible">
	<h1><span class="underline">Gift: </span>{{gift.giftName}}</h1>
	<h3 class="price"><span class="underline">Price: </span>{{gift.giftPrice}}</h3>
	<h3 class="category"><span class="underline">Category: </span>{{gift.category}}</h3>
</div>