.elements-container{
	width: 20%;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 50px;
	.price{
		margin-top: -5px;
	}
	.category{
		margin-top: -10px;
	}
	span{
		text-decoration: underline;
	}
}