body{
	background-color: #CBE8EF;
}

.image-container{
	width:50%;
	float:left;
	position:fixed;
	height:100%;
	left: 0;
}

.logo{
	width: 191px;
	height: 93px;
	background: url(../fe_assignment_assets/logo.png) no-repeat;
	float: right;
	margin-top: 30px;
	margin-left: 20px;
}

.mobile-image{
	width: 370px;
	height: 454px;
	background: url(../fe_assignment_assets/nicequest_app_mobile.png) no-repeat;
	float:right;
	margin-top:150px;
	position: absolute;
	right: 100px;
}

.text-container{
	width:50%;
	float:left;
	position:fixed;
	height:100%;
	right:0;
	display: flex;
	align-items: center;
}

.description-container{
	width: 50%;
	height: 80%;
	margin: 0 auto;
	margin-left: 10%;
}

.app-name{
	width:343px;
	height:53px;
	background: url(../fe_assignment_assets/nicequest_app_name.png) no-repeat;
}

p, li{
	font-size: 17px;
	color: #78868F;
}

.blue-text{
	font-weight: bold;
	color: #0097ED;
}

.app-list-container{
	display: flex;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.app-list-image{
	background: url(../fe_assignment_assets/nicequest_app_list.png) no-repeat;
	width: 58px;
	height: 171px;
	display: inline-block;
}

li{
	list-style: none;
	margin-bottom: 40px;
}

.buttons-container{
	height: 100px;
	width: 85%;
	margin: 0 auto;
	margin-top: 30px;
}

.android-store {
	background: url(../fe_assignment_assets/nicequest_app_android.png) no-repeat;
	width: 150px;
	height: 56px;
	display: inline-block;
	float: left;
}

.apple-store {
	background: url(../fe_assignment_assets/nicequest_app_ios.png) no-repeat;
	width: 150px;
	height: 56px;
	display: inline-block;
	float: right;
}