<div class="sidebar-wrapper">
	<button ng-click="vm.showCategoryForm = true" ng-if="!vm.showCategoryForm">Add category</button>
	<button ng-click="vm.showCategoryForm = false" ng-if="vm.showCategoryForm">Hide category form</button>
	<form ng-submit="vm.addCategory(); vm.showCategoryForm = false;" ng-if="vm.showCategoryForm">
		<span>Category name:</span>
		<input ng-model="vm.newCategory">
		<button ng-disabled="vm.newCategory === undefined || vm.newCategory === ''" ng-click="vm.addCategory(); vm.showCategoryForm = false;">Add new category</button>
	</form>
	<ul class="tabs-container">
	    <li class="tab" ng-repeat="category in vm.sidebarMenuService.categories" ng-click="vm.select($index)" ng-class="{'selected': category.selected}">
			<div class="tab-decoration"></div>
			<span>{{ category.name }}</span>
			<span class="close-icon" ng-click="vm.removeCategory($index)">X</span>
		</li>
	</ul>
</div>