.sidebar-wrapper{
	position:fixed;
	background-color: #ababab;
	width: 200px;
	height: 100%;
	button{
		background-color: #3A3F44;
		width: 80%;
		color:white;
		border: none;
		border-radius: 5px;
		margin-left: 10%;
		margin-top: 10px;
		height: 30px;
		&[disabled]{
			opacity: 0.7;
		};
		&:hover:not(:disabled){
			background-color: #698CFE;
		};
	}

	form{
		width: 90%;
		margin-left: 5%;
		margin-top: 10px;
		span{
			color: #3A3F44;
		}
	}
	.tabs-container{
		margin-top: 30px;
		padding-left: 5px;
		.tab{
			display: block;
			width: 95%;
			background-color: #3A3F44;
			margin-bottom: 2px;
			float:right;
			height: 50px;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			border-right: 1px solid black;
			.close-icon{
				float:right;
				position: relative;
				margin-right: 10px;
				cursor: pointer;
			}
			.tab-decoration{
				display: inline-block;
				width: 15px;
				height: 100%;
				background-color: #272B30;
				border-top-left-radius:5px;
				border-bottom-left-radius:5px;
			}
			span{
				margin-left: 15px;
				position: absolute;
				margin-top: 15px;
				color: black;
			}
			&.selected,
			&:hover{
				border-right: none;
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				background-color: #272B30;
				.tab-decoration{
					background-color: black;
				}
				span{
					color: #ababab;
				}
			}
		}
	}
}