<div class="add-gift-form">
	<form ng-submit="(vm.giftForm.giftName && vm.giftForm.giftPrice && vm.giftForm.category) ? vm.addGift() : 0">
		<input ng-model="vm.giftForm.giftName" placeholder="Gift name">
		<input ng-model="vm.giftForm.giftPrice" placeholder="Gift price">
		<div class="input-radio" ng-repeat="category in vm.sidebarMenuService.categories">
			<input type="radio" value="{{category.name}}" ng-model="vm.giftForm.category"> 
			<label>{{category.name}}</label>
		</div>
		<button ng-disabled="!vm.giftForm.giftName || !vm.giftForm.giftPrice || !vm.giftForm.category"  ng-submit="vm.addGift()">Add Gift</button>
	</form>
</div>