.add-gift-form {
	margin: 0 auto;
	width: 50%;
	margin-left:20%;
	form{
		margin: 0 auto;
		margin-top: 50px;
		input{
			width: 100%;
			display:block;
			height: 40px;
			border-radius: 5px;
			border: none;
			margin-bottom: 10px;
			padding-left: 10px;
			&[type=radio]{
				height: 20px;
			}
		}
		.input-radio{
			display: block;
			margin-bottom: -25px;
			input{
				width: 10%;
			}
			label{
				width: 90%;
				position: relative;
				top: -30px;
				left: 60px;
			}
		}
		button{
			background-color: #3A3F44;
			width: 80%;
			color: white;
			border: none;
			border-radius: 5px;
			margin-left: 10%;
			margin-top: 0px;
			height: 30px;
			&[disabled]{
				opacity: 0.7;
			};
			&:hover:not(:disabled){
				background-color: #698CFE;
			};
		}
	}
}