@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/bootstrap/less/variables.less";
@import "../node_modules/bootswatch/slate/bootswatch.less";
@import "../node_modules/bootswatch/slate/variables.less";
@icon-font-path: 'node_modules/bootstrap/fonts/';

@import "./components/index";
@import "./add-gift/index";
@import "./gift-list/index";

.navbar{
	margin-bottom: 0px;
}

.add-gift-button{
	background-color: #ababab;
	width: 100px;
	color:white;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	height: 30px;
	position: absolute;
	right: 0px;
	margin-right: 40px;
}

.container{
	margin-left: 200px;
	width: 100%;
}

footer{
	background-image: -webkit-linear-gradient(#484e55, #3A3F44 60%, #313539);
	background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
	background-repeat: no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	height:35px; 
	width: 100%; bottom: 0; 
	position: fixed;
	span{
		font-size: 12px;
		line-height: 35px;
		margin-left:50%;
		
	}
}